@import url(./font.css);

.navbar-brand{
    padding:0 0.2rem 0 0.3rem;
}

.navbar{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    }

    .nav-link{
        font-family:"Poppins";
        text-transform: uppercase;
        font-weight: 1000;
        font-size: larger;
        padding: 1.5rem;
        color: teal;
    }

    .nav-item{
        padding-left: 2px;
        padding-right: 2px;

    }

    h6{
        padding-top: 1rem;
    }
    
    p{
        background-color:rgb(220, 212, 212);
        padding:50px;
        width:45%;
        margin-left:50px;
    }
.container{
    align-items: center;
    justify-content: center;
}

